body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.card {
    background-color: white;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-header {
    background-color: #d03167;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header span {
    font-weight: bold;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
    font-size: 24px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.info span {
    font-size: 14px;
    color: #d03167;
}

.info i {
    margin-right: 5px;
}

.card-content p {
    font-size: 14px;
    color: #666;
}

.view-recipe-btn {
    background-color: #d03167;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.view-recipe-btn:hover {
    background-color: #b02658;
}
